*.swp
*.pro.user
.moc
.obj
*.o
*.so
Makefile
lib*.so.*
*.swo
src/miniature
src/qrc_frontend.cp
tests/testgame/testgame
tests/testgnuchess/testgnuchess
tests/testlocalparser/testlocalparser
tests/testficsparser/testficsparser
tests/testfics/testfics
tests/testposition/testposition
