*.sw?
*.moc.cc
*.qrc.cc
*.ui.h
*.o
*~

.deps
.dirstamp

/COPYING
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.*
/configure
/data/miniature.desktop
/data/org.maemo.miniature.service
/debian/*.substvars
/debian/files
/debian/miniature
/debian/stamp-*
/src/miniature
/stamp-h1

/build
!build/autotroll.m4
!build/autotroll.mk

/docs
!docs/Doxyfile

