*.moc.cc
*.o
*.in
*~

.deps
.dirstamp
/stamp-h1
/config.h
/config.log
/config.status
/configure
/aclocal.m4
/autom4te.cache
/COPYING
/INSTALL
/Makefile

/build
!build/autotroll.m4
!build/autotroll.mk

