[Desktop Entry]
Encoding=UTF-8
Version=0.1
Type=Application
Name=Miniature
Exec=@prefix@/games/miniature
Categories=Games
X-Osso-Service=org.maemo.miniature

